body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #12141d;
  background-color: #f2f5f6;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  margin-bottom: 0.5em;
}

p {
  color: #12141d;
  margin-bottom: 1em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 16px;
  margin: auto;
  max-width: 1200px;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

button {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 20px;
  background-color: #f2f5f6;
  color: #12141d;
}
nav .logo a img {
  width: 158px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
nav ul li a {
  color: #404040;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
nav ul li a:hover {
  text-decoration: underline;
}
nav ul.login-signup {
  gap: 10px;
}
nav ul.login-signup li a {
  padding: 16px 26px;
  border-radius: 42px;
}
nav ul.login-signup li:nth-child(1) a {
  background: white;
}
nav ul.login-signup li:nth-child(2) a {
  background: #043a53;
  color: white;
}

.banner {
  display: flex;
  justify-content: center;
  padding: 180px 0;
}
.banner .banner-img-one img,
.banner .banner-img-two img {
  width: 197px;
}
.banner .banner-content h1 {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  color: #12141d;
  max-width: 730px;
  margin: 0 auto 8px;
}
.banner .banner-content h1 span {
  color: #043a53;
}
.banner .banner-content p {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #404040;
  margin: 0 auto 32px;
  max-width: 600px;
}
.banner .banner-links {
  display: flex;
  justify-content: center;
}
.banner .banner-links a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  padding: 16px 24px;
  border-radius: 55px;
}
.banner .banner-links a:nth-child(1) {
  color: white;
  background-color: #043a53;
}
.banner .banner-links a:nth-child(2) {
  color: #043a53;
  display: inline-flex;
  align-items: center;
  background-color: #f2f5f6;
}
.banner .banner-links a:nth-child(2) img {
  width: 35px;
  margin-right: 16px;
}
.banner .banner-mobile-imgs {
  display: none;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    text-align: center;
  }
  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 991px) {
  .banner {
    flex-direction: column;
    padding: 40px 0;
  }
  .banner .banner-img-one,
  .banner .banner-img-two {
    display: none;
  }
  .banner .banner-content h1 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 16px;
    font-weight: 700;
  }
  .banner .banner-content p {
    font-size: 14px;
    line-height: 20px;
  }
  .banner .banner-links {
    flex-direction: column;
    max-width: 250px;
    margin: 0 auto 60px;
  }
  .banner .banner-links a:nth-child(1) {
    max-width: 150px;
    margin: 0 auto 32px;
  }
  .banner .banner-mobile-imgs {
    display: flex;
    justify-content: center;
  }
  .banner .banner-mobile-imgs .banner-img-one,
  .banner .banner-mobile-imgs .banner-img-two {
    display: block;
  }
  .banner .banner-mobile-imgs .banner-img-one img,
  .banner .banner-mobile-imgs .banner-img-two img {
    width: 162px;
  }
}/*# sourceMappingURL=style.css.map */